/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/dosis/v4/RlBXAIuiO5GvH9-0-JbBlw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/dosis/v4/4hYyXH_8WmbBLamf6WjLwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
}

body {
    font-family: Nunito;
    font-style: normal;
    color: #000000;
    text-transform: none;
    font-size: 16px !important;
    line-height: 24px !important;
    background-color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.value_box {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.22);
    border: 5px solid #34BEB9;
    padding: 10px;
    height: max-content;
    width: max-content;
    background-color: #ffffff;
    border-radius: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    margin-top: 10px;
}

.button {
    font-family: Dosis;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    background: #34BEB9;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    align-items: center;
    border: none;
    text-transform: uppercase;
}

.button:hover {
    color: #ffffff;
    opacity: 0.5;
    transition: all 0.1s ease-in-out 0s;
}

.group1{
    border: 3px solid #d6152e;
    padding: 5px;
    margin-left: 10px;
}
.group2{
    border: 3px solid #fa8844;
    padding: 5px;
    margin-left: 10px;
    
}
.group3{
    border: 3px solid #f9d64c;
    padding: 5px;
    margin-left: 10px;
}
.group4{
    border: 3px solid #8dce46;
    padding: 5px;
    margin-left: 10px;
}
.group5{
    border: 3px solid #3f80ba;
    padding: 5px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34BEB9;
}

li {
    float: left;
    border-right: 5px solid #fff;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Dosis;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 2px;
}

li a:hover {
    color: #ffffff;
    opacity: 0.5;
    transition: all 0.1s ease-in-out 0s;
}

.active {
    background-color: #fff;
}

.act_link {
    color: #3c276c;
}

.act_link:hover {
    color: #3c276c;
    background-color: #34BEB9;
    opacity: 0.5;
    transition: all 0.1s ease-in-out 0s;
}

h1,
h2,
h3,
h4 {
    color: #3c276c;
}

h1 {
    margin-bottom: 50px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    margin-bottom: 0px;
}

.proba {
    text-align: center;
    margin-top: 30px;
}

.proba th {
    width: 175px;
    border-bottom: 1px solid;
}


.proba p{
    margin: -10px;
    padding: 0px;
}
.proba .pbottom{
    margin-bottom: auto;
}