{% extends 'layout.html' %}
{% set active_page = "home" %}


{% block css %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1></h1>
  <form method="POST" action="" enctype="multipart/form-data">
    <div class="container">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    
    <div class="value_box">
      <h3>Demographic</h3>
          <p><label for= "age">Age: <input type="number" step="any" id="age" name="age" value="60" size="4"></p>
          <h4>Gender:</h4> 
          <input type="radio" id="female" name="sex" value="female" checked><label for="female">Female</label> <br>
          <input type="radio" id="male" name="sex" value="male"><label for="male">Male</label>
          
          <h4>Smoker status</h4>
              <input type="radio" id="ex-smoker" name="smk" value="ex-smoker"><label for="ex-smoker">Ex-smoker</label> <br>
              <input type="radio" id="smoker" name="smk" value="smoker"><label for="smoker">Smoker</label> <br>
              <input type="radio" id="non-smoker" name="smk" value="non-smoker"><label for="non-smoker">Non-smoker</label>
    </div>

    <div class="value_box">
      <h3>Medical history</h3>
          <input type="checkbox" value="TRUE" id="hap" name="hap"><label for= "hap"> Angina pectoris</label><br>
          <input type="checkbox" value="TRUE" id="haf" name="haf"><label for= "haf"> Atrial fibrilation</label><br>
          <input type="checkbox" value="TRUE" id="hcerebrov" name="hcerebrov"><label for= "hcerebrov"> Cerebrovasvular incident</label><br>
          <input type="checkbox" value="TRUE" id="diabetes" name="diabetes"><label for= "diabetes"> Diabetes</label><br>
          <input type="checkbox" value="TRUE" id="hta" name="hta"><label for= "hta"> Hypertension</label><br>
          <input type="checkbox" value="TRUE" id="hmi" name="hmi"><label for= "hmi"> Myocardial infarction</label><br>
          <input type="checkbox" value="TRUE" id="hpad" name="hpad"><label for= "hpad"> Peripheral artery disease</label><br>
    </div>

    <div class="value_box">
      <h3>Treatment</h3>
        <input type="checkbox" value="TRUE" id="trt_antiplt" name="trt_antiplt"><label for= "trt_antiplt"> Antiplatelet<br>
        <input type="checkbox" value="TRUE" id="trt_arb" name="trt_arb"><label for= "trt_arb"> Angiotensin II receptor blockers<br>
        <input type="checkbox" value="TRUE" id="trt_aspirin" name="trt_aspirin"><label for= "trt_aspirin"> Aspirin<br>
        <input type="checkbox" value="TRUE" id="trt_bb" name="trt_bb"><label for= "trt_bb"> Beta-blockers<br>
        <input type="checkbox" value="TRUE" id="trt_ccb" name="trt_ccb"><label for= "trt_ccb"> Calcium channel blockers<br>
        <input type="checkbox" value="TRUE" id="trt_diur" name="trt_diur"><label for= "trt_diur"> Diuretics<br>
        <input type="checkbox" value="TRUE" id="trt_stat" name="trt_stat"><label for= "trt_stat"> Statins<br>
    </div>

    <div class="value_box">
      <h3>Clinical</h3>
        <p><label for= "bmi">BMI: <input type="number" step="any" id="bmi" name="bmi"  size="6"> Kg/m²</p>
        <p><label for= "hr">Heart rate: <input type="number" step="any" id="hr" name="hr"  size="6"> Bpm</p>
        <p><label for= "lvef_4c">LVEF: <input type="number" step="any" id="lvef_4c" name="lvef_4c"  size="6"> % </p>  
        <p><label for= "dbp">Diastolic blood pressure: <input type="number" step="any" id="dbp" name="dbp"  size="6"> mmHg</p>  
        <p><label for= "sbp">Systolic blood pressure: <input type="number" step="any" id="sbp" name="sbp"  size="6"> mmHg</p>
        <p><label for= "pp">Pulse pressure: <input type="number" step="any" id="pp" name="pp"  size="6"> mmHg</p>
        
        
        
    </div>

    <div class="value_box">
      <h3>Biological</h3>
        <p><label for= "egfr">eGFR: <input type="number" step="any" id="egfr" name="egfr"  size="6"> mL/min/1.73m²</p>
        <p><label for= "hb">Haemoglobin: <input type="number" step="any" id="hb" name="hb"  size="6"> g/dL</p>
        <p><label for= "plt">Platelet count: <input type="number" step="any" id="plt" name="plt"  size="6">.10<sup>9</sup>cells/L</p>
        <p><label for= "k">Potassium: <input type="number" step="any" id="k" name="k"  size="6"> mmol/L</p>
        <p><label for= "na">Sodium: <input type="number" step="any" id="na" name="na"  size="6"> mmol/L</p>
        <p><label for= "wbc">White blood cell count: <input type="number" step="any" id="wbc" name="wbc"  size="6">.10<sup>9</sup>cells/L</p>

      </div>


    </div>
      <p><input type="submit" value="Predict" class="button" style="display: block; margin-left: auto; margin-right: auto"></p>
  </form>


  {% endblock %}
