<!doctype html>
<html>

  <head>
    <title>{{'Patient cluster prediction API'}}</title>
    <meta charset="utf-8">
    <meta name="description" content={{'API for predicting HF patient cluster'}}>
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    {% block css %}{% endblock %}
  </head>

  <body>
    {% include 'navigation.html' %}
    {% block content %}{% endblock %}
  </body>

</html>
