<header>
    <nav>
      {% set navigation_bar = [
        ('/', 'home', 'Single patient'),
    ] -%}
    {% set active_page = active_page -%}

    <ul id="navigation">
    {% for href, id, caption in navigation_bar %}
      <li {% if id == active_page %} class="active"{% endif %}>
      <a href="{{ href|e }}" {% if id == active_page %} class="act_link"{% endif %}>{{ caption|e }}</a></li>
    {% endfor %}
    </ul>
  
   </nav>
 </header>
 