{% extends 'layout.html' %}
{% set active_page = "home" %}

{% block css %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div style="display: flex; margin-top: 50px;">
    <h2 class="group{{ idn }}"> Group {{idn}}: {{ content }}</h2>
</div>
<div class="container">
    <div class="value_box">
        <h3>Event probabilities</h3>
        <table class="proba">
            <thead>
                <tr>
                    <th style="width: 100px;">Time</th>
                    <!-- <th><p>HF hospitalization</p><p>or</p><p class="pbottom">All cause death</p></th> -->
                    <th><p></p>HF hospitalization</p><p>or</p><p class="pbottom">Cardiovascular death</p></th>
                    <th style="width: 250px;"><p></p>Cardiovascular hospitalization</p><p>or</p><p class="pbottom">All cause death</p></th>
                    <th >MACE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 year</td>
                    <!-- <td>{{ event1a["HF hospitalization or All cause death"] }}</td> -->
                    <td>{{ event1a["HF hospitalization or cardiovascular death"] }}</td>
                    <td>{{ event1a["Cardiovascular hospitalization or All cause death"] }}</td>
                    <td>{{ event1a["MACE"] }}</td>
                </tr>
                <tr>
                    <td>2 years</td>
                    <!-- <td>{{ event2a["HF hospitalization or All cause death"] }}</td> -->
                    <td>{{ event2a["HF hospitalization or cardiovascular death"] }}</td>
                    <td>{{ event2a["Cardiovascular hospitalization or All cause death"] }}</td>
                    <td>{{ event2a["MACE"] }}</td>
                </tr>
                
            </tbody>

        </table>
    </div>
    <!-- <div class="value_box">
        <h3>Kaplan-Meier curves for HF hospitalization - all cause death</h3><img
            src="{{ url_for('static', filename='img/km_nfhf_death_cluster%s.png' %(idn)) }}" width="750px">
    </div> -->
    <div class="value_box">
        <h3>Kaplan-Meier curves for HF hospitalization - cardiovascular death</h3><img
            src="{{ url_for('static', filename='img/site_km_nfhf_cvd_learning_%s.png' %(idn)) }}" width="750px">
    </div>
    <div class="value_box">
        <h3>Kaplan-Meier curves for cardiovascular hospitalization - all cause death</h3><img
            src="{{ url_for('static', filename='img/site_km_hcv_death_learning_%s.png' %(idn)) }}" width="750px">
    </div>
    <div class="value_box">
        <h3>Kaplan-Meier curves for MACE</h3><img
            src="{{ url_for('static', filename='img/site_km_mace_learning_%s.png' %(idn)) }}" width="750px">
    </div>
</div>

{% endblock %}